[COMMON]
url=""        #web server URL,
count=1       #moudle个数
index=        #执行第index个moudle，-1表示全部执行
addflag=      #添加标识

[module1]
url=""        #web server URL,和COMMON中相同可不配置
file=         #配置文件名
flag=         #加密标志，对.config类型文件无效
cube=         #cube 名称
record=       #record 名称,xml文件使用
item=         #item 名称,xml文件使用
savemethod=2  #保存方式,1-保存到空文件中，通常qmdb使用；2-保存到配置文件中,缺省方法2
dbtype=       #db type
dbmark=       #分库标识，分布式使用
productmark=  #产品标识，可能配置也可能不配置
version=      #1-非分布式，2-分布式，缺省1非分布式


